/* -----------
    font added
---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------------
    Common styles
-------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

hr {
    border: 1px solid gray;
    width: 90%;
    margin: 50px;
}

/* --------------------------
    header-banner styles 
-----------------------------*/

header {
    display: flex;
    justify-content: center;
}

.header-banner {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    margin: 25px 0;
    border-radius: 30px;
}

.banner-details {
    color: white;
    padding: 50px;
}

.banner-title {
    font-size: 70px;
    margin-bottom: 20px;
}

.banner-text {
    margin-bottom: 40px;
    line-height: 25px;
}

.btn {
    text-decoration: none;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.btn:hover {
    background-color: #e25656;
    transition: 0.5s;
}

.fa-chevron-right {
    margin-left: 10px;
}

.banner-image {
    margin-top: 33px;
    margin-bottom: -7px;
}

.banner-image img {
    width: 550px;
    margin-right: 80px;
}


/* -------------------------
    main section styles
---------------------------- */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.side-bar {
    grid-row: 1/4;
}

.form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;
}

.form button {
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}

.form a:hover {
    color: white;
    transition: 0.5s;
}

.form button:hover {
    background-color: #e04646;
    transition: 0.8s;
    cursor: pointer;
}

.form a {
    text-decoration: none;
    color: #161616;
}

.form-btn {
    text-decoration: none;
    background-color: #DD0000;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.form-btn a {
    color: white;
}

.match {
    border: 2px solid rgba(189, 189, 189, 0.199);
    border-radius: 12px;
}

.match-image img {
    width: 100%;
}

.match-details {
    margin: 20px;
}

.match-btn {
    padding: 5px 10px;
    background: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #161616;
    border: 1px solid gray;

}

.match-title {
    color: #161616;
    font-size: 18px;
    font-weight: 600;
}

.match-info {
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tablet-btn {
    margin: 35px 0;
    display: none;
}

.tablet-btn a {
    width: 10%;
    text-align: center;
    text-decoration: none;
    padding: 10px 35px;
    background: #DD0000;
    border-radius: 5px;
    color: #ffffff;
}

/* -------------------
    footer section styles
------------------- */
.footer-info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}

.footer-title {
    font-size: 48px;
    color: white;
}

.support {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.support a {
    text-decoration: none;
    color: #B9B9B9;
}

.support a:hover {
    color: #e04646;
    transition: 0.5s;
}

.social-icon {
    display: flex;
    gap: 35px;
    height: 35px;
    margin-top: 35px;

}

.social-icon a {
    color: #B9B9B9;
    font-size: 35px;
    transition: margin-top 0.5s;
    cursor: pointer;
}

.social-icon a:hover {
    color: #e04646;
    transition: 0.8s;
    margin-top: -20px;
}



/* -----------------------
    media queries styles
-------------------------- */
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .banner-title {
        font-size: 30px;
    }

    .banner-details .banner-text {
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn {
        padding: 10px 20px;
    }

    .banner-image img {
        width: 350px;
        margin-right: 5px;
    }


    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .side-bar {
        grid-column: 1/-1;
    }

    .form {
        display: flex;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 30px;
        background: none;
        padding: 0;
    }

    .form button {
        background-color: white;
        border: 1px solid black;
    }

    .form .form-btn {
        border: none;
        background-color: #DD0000;
    }

    .tablet-btn {
        display: block;
    }

    .support {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}