/* -----------
    font added
---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------------
    Common styles
-------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

hr {
    border: 1px solid gray;
    width: 90%;
    margin: 50px;
}

/* --------------------------
    header-banner styles 
-----------------------------*/

header {
    display: flex;
    justify-content: center;
}

.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    margin: 50px;
    border-radius: 30px;
}

.banner-details {
    color: white;
    padding: 50px;
}

.banner-title {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
}

.banner-text {
    margin-bottom: 40px;
    line-height: 25px;
}

.btn {
    text-decoration: none;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.btn:hover {
    background-color: #e04646;
    transition: 0.8s;
}

.fa-chevron-right {
    margin-left: 10px;
}

.banner-image {
    margin-top: 33px;
    margin-bottom: -7px;
}

.banner-image img {
    width: 550px;
    margin-right: 80px;
}

/* ----------------------
    main section styles
------------------------ */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 312px repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    margin: 50px;

}

.side-bar {
    grid-row: 1/4;
}

.form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;
}

.form .form-btn {
    text-decoration: none;
    padding: 16px 25px;
    background: #F0F0F0;
    border-radius: 10px;
    font-size: 20px;
    color: #161616;
    text-align: center;
}

.form button {
    border-radius: 10px;
    font-size: 20px;
    border: none;
}

.form a {
    text-decoration: none;
    color: #161616;
}

.upcoming {
    background-color: #DD0000;
}

.upcoming a {
    color: white;
}

.match {
    border: 2px solid rgba(189, 189, 189, 0.199);
    border-radius: 12px;
    padding: 50px 30px;
    text-align: center;
}

.match-image {
    display: flex;
    align-items: center;
}

.match-image img {
    width: 100%;
}

.match-details {
    margin: 20px;
    line-height: 35px;
}

.match-btn {
    padding: 5px 10px;
    background: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #161616;
    border: 1px solid gray;

}

.match-title {
    color: #161616;
    font-size: 18px;
    font-weight: 600;
}

.match-title span {
    color: #4D4D4D;
}

.match-info {
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tablet-btn {
    margin: 35px 0;
    display: none;
}

.tablet-btn a {
    width: 10%;
    text-align: center;
    text-decoration: none;
    padding: 10px 35px;
    background: #DD0000;
    border-radius: 5px;
    color: #ffffff;
}

/* -------------------
    footer section styles
------------------- */
.footer-info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #161616;
}

.footer-title {
    font-size: 48px;
    color: white;
}

.support {
    display: flex;
    gap: 35px;
}

.support a {
    text-decoration: none;
    color: #B9B9B9;
}

.support a:hover {
    color: #e04646;
    transition: 0.5s;
}